* {
	font-family: "Lucida Console", Monaco, monospace;
}
body {
	color: #222222;
	background-color: #DDDDDD;
	transition: 0.2s;
}
body.dark {
	color: #DDDDDD;
	background-color: #222222;
}
button {
	color: #DDDDDD;
	background-color: #222222;
	border-style: none;
	border-radius: 15px;
}
button.dark {
	color: #222222;
	background-color: #DDDDDD
}
.disabled {
	color: #550000;
	background-color: #666666;
}
.disabled.dark {
	color: #770000;
	background-color: #999999;
}
.disabledUpg {
	filter: grayscale() drop-shadow(0px 0px 4px red);
}
.hidden {
	display: none;
}
.horizonalCentered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centered {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}
.centeredButSlightlyLower {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, calc(-50% + 200px));
}
.centeredButSlightlyHigher {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, calc(-50% - 150px));
}
.screen {
	position: absolute;
	display: inline-block;
	width: 100vw;
	height: 100%;
	top: 0;
}
.screenHolder {
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}
.switchScreenLeft {
	animation-name: switchScreenInit;
	animation-duration: 1s;
	border-radius: 0px 50px 50px 0px;
	width: 30px;
	height: 70px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1;
	left: 0;
	bottom: 50%;
	transform: translate(0, 50%);
}
.switchScreenRight {
	animation-name: switchScreenInit;
	animation-duration: 1s;
	border-radius: 50px 0px 0px 50px;
	width: 30px;
	height: 70px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1;
	right: 0;
	bottom: 50%;
	transform: translate(0, 50%);
}
.progressBar {
	animation-name: progressBarInit;
	animation-duration: 1s;
	width: 90%;
	height: 100px;
}
.label {
	animation-name: barLabelInit;
	animation-duration: 1s;
	background-color: rgba(255,255,255,0.2);
	color: #222222;
	font-size: 50px;
	transition: 0.5s;
}
.sideMenuOpen {
	animation-name: sideMenuInit;
	animation-duration: 1s;
	border-radius: 50px 0px 0px 50px;
	width: 100px;
	height: 120px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1;
	right: 0;
	transition: 0.5s;
}
.sideMenuOpen.dark {
	background-color: rgba(255,255,255,0.5);
}
.sideMenu {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	height: 100%;
	width: 0;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	transition: 0.5s;
}
.sideMenu.dark {
	background-color: rgba(255,255,255,0.5);
}
.sideMenu > * {
	flex: 1 0 75px;	
}
.topMenuOpen {
	animation-name: topMenuInit;
	animation-duration: 1s;
	border-radius: 0px 0px 50px 50px;
	width: 120px;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1;
	top: 0;
	transition: 0.5s;
}
.topMenuOpen.dark {
	background-color: rgba(255,255,255,0.5);
}
.topMenu {
	display: flex;
	flex-wrap: wrap;
	height: 0;
	width: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	transition: 0.5s;
	color: #DDDDDD;
}
.topMenu.dark {
	background-color: rgba(255,255,255,0.5);
}
.topMenu > * {
	flex: 1 0 75px;
	transition: 0.5s;
}
.oddUpgrades {
	background-color: rgba(0,0,0,0.2);
}
.oddUpgrades.dark {
	background-color: rgba(255,255,255,0.2);
}
.maxedUpgrade {
	flex: 0 0 0;
}
.maxall {
	position: absolute;
	width: 80px;
	height: 50px;
	left: 0;
	top: 0;
	border-radius: 0 0 20px;
}
.upgButton {
	margin-top: 10px;
	width: 200px;
	height: 80px;
	background-size: contain;
}
@keyframes progressBarInit {
	from {width: 0; opacity: 0;}
	to {width: 90%; opacity: 1;}
}
@keyframes barLabelInit {
	from {opacity: 0; font-size: 0;}
	to {opacity: 1; font-size: 50px;}
}
@keyframes redeemButtonInit {
	from {height: 0; width: 0; opacity: 0; font-size: 0;}
	to {height: 200px; width: 300px; opacity: 1; font-size: 40px;}
}
@keyframes pointDisplayInit {
	from {opacity: 0; font-size: 0;}
	to {opacity: 1; font-size: 40px;}
}
@keyframes sideMenuInit {
	from {width: 0; opacity: 0;}
	to {width: 100px; opacity: 1;}
}
@keyframes topMenuInit {
	from {height: 0; opacity: 0;}
	to {height: 100px; opacity: 1;}
}
@keyframes switchScreenInit {
	from {width: 0; opacity: 0;}
	to {width: 30px; opacity: 1;}
}
