* {
	font-family: "Lucida Console", Monaco, monospace;
}
button {
	color: #DDDDDD;
	background-color: #222222;
	border-style: none;
	border-radius: 15px;
}
.centered {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}
.progressBar {
	animation-name: progressBarInit;
	animation-duration: 1s;
	width: 90%;
	height: 100px;
}
.label {
	background-color: rgba(0,0,0,0.1);
	color: gray;
	font-size: 50px;
}
.saveMenu {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	height: 20%;
	width: 0px;
	position: fixed;
	overflow-x: hidden;
	z-index: 1;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	transition: 0.5s;
}
.saveMenu > * {
	flex: 1 0 75px;	
}
@keyframes progressBarInit {
	from {width: 0%; opacity: 0;}
	to {width: 90%; opacity: 1;}
}
